# Folder config file
desktop.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
*.env

# Local configuration file
config/local.py

# For local ignores, add lines to /.git/info/exclude
